<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanlin.oa.mapper.UacUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.hanlin.oa.model.domain.UacUserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="role_id" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, role_id, user_id
  </sql>

  <select id="selectByRoleId" parameterType="long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM  uac_user_role WHERE  role_id = #{roleId}
  </select>

  <delete id="deleteByRoleId" parameterType="long" >
    DELETE  FROM  uac_user_role WHERE  role_id = #{roleId}
  </delete>

    <delete id="deleteByUserId" parameterType="long" >
        DELETE  FROM  uac_user_role WHERE  user_id = #{userId}
    </delete>

    <select id="selectRolesByUserId" parameterType="long" resultType="long">
        SELECT role_id FROM  uac_user_role WHERE  user_id = #{userId}
    </select>
</mapper>